<ul id="ItemList">
<?php foreach ($items as $item): ?>
	<li class="item">
		<div class="item-info">
			<div class="username"><?= htmlspecialchars($item['username']) ?></div>
			<div class="time"><?= $item['create_time'] ?></div>
		</div>
		<a href="/t/<?= $item['id'] ?>"><?= htmlspecialchars($item['title']) ?></a>
		<div class="content"><?= $item['text'] ?></div>
	</li>
<?php endforeach ?>
</ul>
<form id="PostForm" method="post" action="/t/">
	<div>标题:<br>
		<input name="title" >
	</div>
	<div><textarea name="text"></textarea></div>
	<input type="submit" value="发贴">
</form>
<script type="text/javascript">
	$(function () {
		$('#PostForm').on('submit', function (event) {
			$.post('/t/', $(this).serialize(), function (ret) {
				if (ret.code === 0) {
					location.href = '/';
				} else {
					alert(ret.message);
				}
			}, 'json');
			event.preventDefault();
        });
	});
</script>
