<ul>
	<?php foreach ($items as $item): ?>
	<li>
		<h3><?= htmlspecialchars($item['title']) ?></h3>
		<div>
			<div><?= htmlspecialchars($item['username']) ?></div>
			<div><?= $item['create_time'] ?></div>
		</div>
		<div><?= $item['text'] ?></div>
	</li>
	<?php endforeach ?>
</ul>
<form id="PostForm" method="post" action="/t/">
	<div>title:
	<input name="title" >
	</div>
	<div><textarea name="text"></textarea></div>
	<input type="submit" value="发贴">
</form>
<script type="text/javascript">
	$(function () {
		$('#PostForm').ajaxForm(function(ret) {
			console.log(ret);
            // alert("Thank you for your comment!");
        });
	});
</script>
