<h2><?= htmlspecialchars($item['title']) ?></h2>
<div>
	<div><?= htmlspecialchars($item['username']) ?></div>
	<div><?= $item['create_time'] ?></div>
</div>
<div><?= $item['text'] ?></div>
<ul>
<?php foreach ($comments as $comment): ?>
	<li>
		<div><?= $comment['username'] ?></div>
		<div><?= $comment['text'] ?></div>
	</li>
<?php endforeach ?>
</ul>

<form id="ReplyForm">
	<div><textarea name="text"></textarea></div>
	<input type="submit" value="回复">
</form>
<script type="text/javascript">
$('#ReplyForm').on('submit', function (event) {
	$.post("/t/<?= $item['id'] ?>/comment/", $(this).serialize(), function (ret) {
		if (ret.code === 0) {
			location.href = "/t/<?= $item['id'] ?>";
		} else {
			alert(ret.message);
		}
	}, 'json');
	event.preventDefault();
});
</script>
